#img_name{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
*{
    box-sizing: border-box;
}
.column {
float: left;
width: 33.33%;
padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 500px) 
{
    .column 
    {
        width: 100%;
    }
}